# Ignore compiled output.
dist

# The VSCode CSpell plugin causes the file to become unformatted whenever a new word is added.
cspell.json

# Ignore all of the XML files created by Basement Renovator.
packages/mod/content/rooms/**/*.xml
packages/mod/content/luarooms/**/*.xml
packages/mod/resources/rooms/**/*.xml
packages/mod/resources/luarooms/**/*.xml
packages/mod/**/map.xml

# Ignore all of the XML files created by the animation editor.
packages/mod/resources/**/*.anm2

